<form action="/users" method="post">
  <p>Name :<input type="text" name="user[name]"></p>
  <p>Address: <input type="text" name="user[address]"></p>
  <p><input type="submit" value="Create"></p>
</form>
