<form action="/restaurants" method="post">
  <p>Name: <input type="text" name="restaurant[name]"></p>
  <p>Rating: <input type="text" name="restaurant[rating]"></p>
  <p>Address: <input type="text" name="restaurant[address]"></p>
  <p><input type="submit" value="Create Restaurant"></p>
</form>
