<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <a href="/users">See All Users</a>
      <a href="/users/new">New User</a>
      <a href="/restaurants">See All Restaurants</a>
      <a href="/restaurants/new">New Restaurant</a>
    </p>
    <%= yield %>
  </body>
</html>
